rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == 'contact@vr-astrovision.com' ||
        request.auth.token.email == 'admin@forensic.io'
      );
    }

    match /recovery_requests/{requestId} {
      allow create: if true;
      allow get: if true;
      allow read, update, delete: if isAdmin();

      match /messages/{messageId} {
        allow read, write: if isAdmin();
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
